* {
    box-sizing: border-box;  
}
#main {
    background-color: rgba(128, 128, 128, 0.164);
    color: rgb(63, 62, 62);
    text-align: center;
    padding: 15px;
    border-radius: 10px;;
}
#title {
    color:blue;
    font-size: 1.3em;
    padding: 0px 50px;
}

#img-div {
    background-color: white;
    padding: 10px;
    margin: 0px;
}
#image {
    width:100%;
    height:auto;
    max-width: 1000px;
}
#img-caption {
    padding: 20px 0px;
    font-weight: 700;
}
#tribute-info {
    
}